@font-face {
    font-family: 'AudiowideRegular';
    src: url('../fonts/Audiowide-Regular.ttf');
}

@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
}
@font-face{
    font-family: 'Allerta';
    src: url('../fonts/Allerta-Regular.ttf');
}



html {
  overflow-x: hidden; /*ESCONDE A BARRA DE ROLAGEM LATERAL*/
}

body{
    background-color: #eeeeee;
    /*background-image: url('../img/caracol-services.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}


/*SIDEBAR*/

.sidebar{
  display: flex;
    flex-direction: column;
    align-items: center;
    font-style: none;
}

.navigation .toggle .show a{
  text-decoration: none;
  color: #1A1462;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 16px;
}
.navigation .toggle .show a:hover{
  
  color: #9056E8;
  
}

/*SIDEBAR BUTTON*/

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}




     /*NAVBAR*/
.bg-custom{
    background-color: #eeeeee;
}

.logo{
    position: absolute;
    height: 65px;
    width: 65px;
    left: 95.33px;
    top: 50px;

}

.logo-name{
    font-family: 'AudiowideRegular';
    position: absolute;
    width: 194px;
    height: 38px;
    left: 170px;
    top: 65px;
    color: #493A8B;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
}

/*ITENS NAVBAR*/

/*HAMBURGUER*/


nav .nav-link{
    color: #493A8B;
    line-height: 27px;
}
nav .nav-link:hover{
    color: #9056E8;
    line-height: 27px;
}
#navbarSupportedContent{
    margin-right: 50px;
    margin-top: 50px;
    
}
.nav-item{
    margin-left: 50px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
   
}

/*BODY*/

main{
  height: 100vh;
}
main .titles{
    position: absolute;
    width: 30rem;
    height: 11.75rem;
    left: 6rem;
    top: 15rem;
    
    
}

main .titles h1{
    font-weight: 700;
    font-size: 5rem;
    line-height: 117%;
    font-family: 'Poppins';
    font-style: normal;
    margin: 0;
}
main .captions{
    position: absolute;
    width: 32.5rem;
    height: 4.5rem;
    left: 5.6rem;
    top: 29.3rem;
}
main .captions p{
    font-family: 'Allerta';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 148.33%;
    margin: 0;
    color: #1A1462;
}
main{
    display: flex;
}
main .left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*
main .right-content{

}*/

.custom-button {
    background-color: #493A8B;
    border-radius: 30px;
    height: 63px;
    width: 212px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 23px;
    color: #fff;
    transition: all 0.3s ease;
    margin-top: 25px;
    margin-left: 0;
  }
  
  .custom-button:hover {
    background-color: #9056E8;
    cursor: pointer;
  }
 
  main .images-home{
    position: relative;

  }
  .piramide {
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
  .piramide-fina {
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  /*SOBRE NÓS*/

  .about-us{
    display: flex;
    height: 640px;
    align-items: center;
  }

  .about-us .logo-about{
    height: 27rem;
    width: 31rem;
    
    margin-left: 7rem;
    
    
  }
  .about-us .title h1{
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 700;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .about-us .about-us-text p{
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 400;
    line-height: 51px;
    margin-top: 40px;
    color: #1A1462;
  }
  
  .about-us .about-us-text .title{
    display: flex;
  }

  /* .about-us .about-us-text .seta-esquerda{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 944px;
    top: 768px;
    border-radius: 5px;
    margin: 0;

  }
  .about-us .about-us-text .seta-direita{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 1177px;
    top: 768px;
    border-radius: 5px;
    margin: 0;
} */
    

  

  .about-us .about-us-text{
    height: 359px;
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
  }
  .about-us-image-section{
    margin-bottom: 18rem;
  }
  .about-us-text-section{
    margin-bottom: 18rem;
  }


  /*SERVICES*/
 /* .services{
    display: flex;
    flex-direction: column;
    width: 100vw; 
  }
 
  .services .design-icon{
    width: 100px;
    height: 100px;
  }
 
 / .services .design-box{
      width: 435px;
      height: 445px;
      top: 97rem;
      position: absolute;
      left: 17rem;
      display: flex;
  
  }
  */
  /*
  .title-services-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: -130px;
  }
 

.services{
  background-image: url('../img/caracol-servicos.png');
}

background-image{
  filter: blur(80px);
}
 */

 .fundo{
  position: absolute;
 }

.title-services-container h1 {
    color: #9056E8;
    font-weight: bold;
    font-size: 32px;
    font-family: 'Poppins';
    justify-content: center;
    display: flex;
}

.fundo{
  filter: blur(280px);
}

  .triangulos-services{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    margin-left: 570px;
  }
  .triangulos-services > .img1 {
    margin: 0 -368px;
}
.triangulos-services .img2 {
  margin-top: 153px;
  margin-bottom: -157px;
}

.triangulos-services > .img3 {
  margin: 0 -368px;
}

  /*
  .services-triangulo1-baixo, .services-triangulo2-cima, .services-triangulo3-baixo{
    height: 31.25rem;
    width: 31.5rem;
  }
*/
/*
  .services .triangulos-services{
    display: flex;
    flex-direction: row;
  }
*/

/* .left-arrow{
  background-image: url('https://img.icons8.com/clouds/1x/long-arrow-left.png');
 
}
.right-arrow{
  background-image: url('https://img.icons8.com/stickers/1x/long-arrow-right.png');
} */



/*EQUIPE*/

.equipe{
  margin-top: 1000px;
  margin-left: 200px;
}
.equipe .title-equipe h1{
  font-family: 'Poppins';

font-weight: bolder!important;
font-size: 32px;
line-height: 48px;

color: #9056E8;
}

.equipe .title-equipe {
  margin-right: 32px;
}
/* 
.equipe .equipe-line-1 , .equipe-line-2{
  margin-left: 63px; 
}*/

.equipe .card-equipe {
  width: 14.875rem;
height:  20.1875rem;
background: rgba(255, 255, 255, 0.3);
box-shadow: 0px 3.7037px 3.7037px rgba(0, 0, 0, 0.25);
border-radius: 50.9259px;
margin-top: 50px;
}

.card-equipe .profile-picture{
  height: 140px;
  width: 140px;
  border: 4px solid #9056E8;
  margin-top: 30px;
}

.card-equipe h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18.5185px;
line-height: 28px;
color: #9056E8;
text-align: center;
margin-top: 22px;
margin-bottom: 0;
}

.card-equipe p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13.8889px;
line-height: 21px;
color: #595964;
text-align: center;
margin-top: 0;
}

.card-equipe .icons-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

.card-equipe .icon{
 height: 30px;
 width: 30px;
 
}


  
  /*CONTATO*/


.contato .container-contato{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contato .form-container{
  width: 552px;
height: 654px;

background: #D9D9D9;
box-shadow: 0px 4px 18px 11px rgba(0, 0, 0, 0.25)!important;
border-radius: 30px!important;
}
.contato .form-container h1{
  text-align: center;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #9056E8;
}

.contato .input-name, .input-assunto, .input-email{
  width: 417px;
height: 40px!important;

background: #C4C4CC;
border-radius: 20px;
color: #7C7C8A;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  padding-left: 10px;
  border: 0;
}

.contato .input-msg{
  width: 417px;
height: 169px!important;

background: #C4C4CC;
border-radius: 20px!important;
 
  padding-bottom: 122px;
    padding-left: 10px;
    color: #7C7C8A;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  border: 0;
}
.contato form{
  margin-top: 25px;
}



input:focus {
  outline: none!important;
  box-shadow: none!important;
  background-color: #C4C4CC!important;
  border: 1px solid #9056E8!important;
}





  .contato button{
    
      width: 198px;
      height: 61px;
      left: 960px;
      top: 733px;
      background: #9056E8;
      box-shadow: 0px 3px 8px 4px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      cursor: pointer;
      outline: none;
      margin-top: 25px;
    
  }

 /*IMAGEM DA AREA DE CONTATO*/

 .contato .contato-image{
  
  width: 50rem!important;
 }
 .contato .image-contato{
  display: flex;
  justify-content: center;
  align-items: center;
 }


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 15px;
    background-color: #f8f9fa;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
}
  
.sidebar.show {
  transform: translateX(0);
}
.sidebar a {
  display: block;
  margin-bottom: 15px;
}